*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.header{
    background-image: url(../img/hero.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-size: .35em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 6px;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
    font-size: 14px;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 100%;
    padding: 2em 2em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.sub-heading-details{
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    margin-bottom: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

.gmaps {
    width: 600px;
    height: 450px;
    border: 2px solid #28A7A6 !important;
    border-radius: 6px;
}

.iconiz {
    color: #28A7A6;
}

.simpleicon {
    font-size: inherit;
}

@media only screen and (max-width: 600px) {
    .header {
        background-position: 65% 60%;
    }
    .heading {
        font-size: 3.5em;
    }
    .heading-subtext {
        font-size: .4em;
    }
    .gmaps {
        width: 100%;
    }
    .fixed-button {
        font-size: 12px;
    }
}

/*Pace Loader*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #28A7A6;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}